.carousel-inner>.item>img{
        display: block;
    max-width: 100%;
    height: 350px;
    width: 100%;
}
section{
    padding: 20px 0px 0px 0px;
}




.l-blue {
    background-color: var(--l-blue)!important
}

.inverse p,.inverse td,a,h5,label {
    color: #fff
}

.jumbotron {padding-bottom: 0px !important;}

main {
    background-color: var(--gray);
    /*padding-top: 20px;*/
    margin-top: 52px;
}
h2{
    margin-top: 0;
}
#gboprice i{
    color: var(--in-font);
    font-size: 20px;
    font-weight: bold;
}
.panel a {color: #2d2d2d;}
.panel-heading {background-color:  #f5f5f5;}

#services {background-color: var(--blue);}
.bg-danger {background-color: #b91919; color: white;}
.bg-info, .bg-danger {padding: 5px 5px; border-radius: 3px;} 

/*====================CARD=====================*/
.card_inde_cont{
        display: inline-block;
    /* height: 400px; */
    max-height: 380px;
    min-height: 380px;
}
.card_phone_cont{
        display: inline-block;
    /* height: 400px; */
    max-height: 400px;
    min-height: 370px;
}
.card-w { 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 0px 25px 0px;
    border-radius: 2px;
    background: #fff;
    display: inline-block;
    margin: 1rem 0;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    .card-w-txt{
/*        text-align: justify;
        word-spacing: -0.3ex;*/
    }


.card-w a {color: #337ab7;}
.card-w .btn  {color: #FFF;}

.card-1 {
    height: 480px;
    min-height: 320px;
    max-height: 490px;
    min-width: 180px;
    max-width: 400px;
}
/*.card_inde_cont{
    height: 405px;
}*/
      .card-pr{
    min-height: 400px;
    max-height: 441px;
    min-width: 180px;
    max-width: 400px;
    }
    #card-pr-ballon{
    min-height: 245px;
    max-height: 290px;
    }
    #cbg1{
        margin-top: 20px;
    min-height: 170px;
    max-height: 175px;
    }
    #cbg{
    min-height: 175px;
    max-height: 180px;
    min-width: 98%;
    max-width: 100%;
        height: 178px;
/*    min-height: 320px;
    max-height: 329px;*/
    }
.card-1:hover {box-shadow: 0 0px 18px 12px rgba(0,0,0,0.25)}
.card-faq{
    max-height: 250px;
    min-height: 134px;
    min-width: 187px;
    max-width: 187px;
    margin: 7px 0 0 7px;
}
.card_faq-link {
    margin: 18px 0 0 0;
    max-width: 331px;
    min-width: 130px;
}
.bg-servise {width: 128px; height: 128px; margin: 10px auto;}
.bg-servise-cpb {width: 64px; height: 64px; margin: 0px auto;}
#bg-servise-cpb2 {float: left; margin: 0px auto;}
/*#bg-servise-card_price {width: 64px; height: 64px; margin: 0px auto;}*/
.bg-car {
    background: url('/img/servise.png') -5px -5px;
}
.bg-gas {
    background: url('/img/servise.png') -143px -5px;
}
.bg-house {
    background: url('/img/servise.png') -281px -5px;
}
.bg-petrol {
    background: url('/img/servise.png') -419px -5px;
}

.card_title{
    height: 55px;
}
.card_title-special{
    height: 55px;
}
.card_index_phone{
    margin: 0 auto 6px;
    display: inline-block;

}
.card__phone-icon {float: left; margin-left: 10px;}
.card__phone-icon:before{font-family: FontAwesome;
    content: "\f095";
    font-size: 20px;
    padding: 5px 8px;
    line-height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #15ad14;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);}
.card__open-link {color: var(--blue);  margin-left: 26px;  font-size: 18px;
    line-height: 40px;}

    .price_title h2{
            color: var(--in-font);
            font-weight: bold;
            margin: -8px 0 0 0;
                        }
    .card_text p{
        font-size: 1.5rem;
        font-weight: 500;
    }
/*====================CARD======================*/


#why-we{
    background: var(--gray);
}
#sertif{
    background: var(--gray);
}
#accordion{
    max-width: 900px;
    margin: 0 auto 0;
    padding: 10px 0 0 0;
}

#ballon{
    background: var(--gray)
}


.laptop{
    max-width: 600px;
    max-height: 600px;
    position: absolute;
}
.video_iframe{
    max-width: 576px;
    max-height: 345px;
/*    position: absolute;
    left: 40px;
    top: 24px;*/
}
.blnavh>li>a:hover {
    text-decoration: none;
    background-color: #accde8;
}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
  background:var(--red);
}
#myCarousel .nav a {
    border-radius:0px;
}

.carousel-caption {background-color: rgba(0, 0, 0, 0.67); border-radius: 15px; border: 2px; box-shadow: 0 0 0 0 #2d2d2d; max-width: 800px; }
.tv_container {
        margin: auto;
    background: url(img/laptop.png) no-repeat top left transparent;
    background-size: contain;
    width: 578px;
    height: 440px;
    position: relative;
    z-index: 1;
}
.videof {
    position: absolute;
    top: 23px;
    width: 532px;
    height: 300px;
    left: 23px;
}

/*#calcgbo{padding-left: 80px;}
#video-forma{padding-left: 80px;}*/
.ec{
    word-wrap: break-word;
    border-radius: 100px;
    background: var(--blue);
    margin: 5px 0px;
    /*max-width: 260px;*/
    height: 80px;
    padding: 20px 0;

}
.ec h3{
    color: #fbfbfb;
    margin-top: 5px;
}
.versus_table{
    margin: 0 46px;
    padding: 0 47px;
}
.versus_square{
    color: #fbfbfb;
    word-wrap: break-word;
    margin: 7px 0;
    background: var(--red);
    padding: 15px 15px;
    height: 10em;
    }
.versus_square h3{
    color: #FFFFFF;
    margin: 5px;
}
.gbo_car-img{
    width: 100%;
    max-height: 300px;
    /*padding: 10px;*/
}
.sztoken{
    font-size: 27px;
}
/*CAUSE*/
.cause_footer{
    background: #E41F26;
    color: var(--in-font);
        font-size: 40px;
    font-weight: bold;
}
.cause_footer-text-top{
}
.cause_footer-text-bottom{

}
.cause-main-left{
    display: inline-block;
width: 10%;
}
.cause-main-right{
    display: inline-block;
width: 85%;
}
.cause_text{
    
    color: var(--in-font);
    font-size: 18px;
    font-weight: bold;
}
.cause-main{
    min-height:  55px;
    margin: 25px 0;
    /*border: 1px solid black;*/

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b3988+0,4a69a5+28,5493b8+61,207cca+100,2989d8+100,207cca+100 */
background: #3b3988; /* Old browsers */
background: -moz-linear-gradient(left,  #3b3988 0%, #4a69a5 28%, #5493b8 61%, #207cca 100%, #2989d8 100%, #207cca 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #3b3988 0%,#4a69a5 28%,#5493b8 61%,#207cca 100%,#2989d8 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #3b3988 0%,#4a69a5 28%,#5493b8 61%,#207cca 100%,#2989d8 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3988', endColorstr='#207cca',GradientType=1 ); /* IE6-9 */
}

#cause_set4 .cause_text{
  font-size: 16px;  
}
/*===================================CALCULATOR-GBO=======================================
/*SECTION*/
#calcgbo{
    padding: 15px 7px;
}
/*<---------FORM--------->*/
.cform {
    width: 100%;
    display: grid;
    background-color: rgba(0,0,0,.6);
    border-radius: 8px;
    padding-bottom: 33px;
    box-shadow: 0 0 33px 4px rgba(0,0,0,.45);
    margin: 20px 0px;
}
.column-1-3{
    margin-bottom: 15px;
    background: url(img/speedo.png)50% 100% no-repeat;
    background-size: contain;
    box-sizing: border-box;
    height: 220px;
    text-align: center;
}
.label_speed {
    color: #fff;
    width: 115px;
    margin: 0 auto;
    padding: 60px 0 12px 0;
    font-size: 18px;
    border-bottom: 1px solid #555;
}
.result_input{
        padding-top: 50px;
}
.txt_speed{
    border-radius: 100px;
    width: 90px;
    padding-top: 4px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.label_cont{
    height: 40px;
}
.dushbord__form{ 
    margin: auto;
    max-width:380px;
    min-width:280px; 
    height:450px;
    background-color:rgba(0,0,0,0.6);
    border-radius:8px;
    padding:33px 38px;
    box-shadow:0px 0px 33px 4px rgba(0, 0, 0, 0.45);
}
#dushbord__form-calc{
   margin: 10px auto; 
   height: 490px;
}
.dushbord__form_header-cform{color:#fff;margin-bottom:30px;margin-top:0;font-size:28px;}
.dushbord__form_header{color:#fff;margin-bottom:-10px;margin-top:0;font-size:28px;margin-bottom: 10px;}
.dushbord__form_label{color:#fff;}
.dushbord__form_input-cform{height:44px;margin:15px;border:none;border-radius:5px;padding-left:15px;}
.dushbord__form_input{
    width:100%;
    height:44px;
    margin-bottom:15px;
    border:none;
    border-radius:5px;
    padding-left:15px;
    text-align: center;
    font-size: 35px;
    }
.dushbord__form_message{
    /*border: 1px solid black;*/
    text-align: center;
    border-radius: 4px;
    margin: 0px 0 12px 0;
    background: #fff;
    } 
.dushbord__form_message p{
    margin: 1px 0 0 0;
    font-size: 18px;
    font-weight: 500;
}    
/*TEXT*/
#cform-txt{color: #fff;}
/*<=-----CALCULATOR-BTN------=>*/
/*DIV*/
.cform-btn{
    display: inline-block;
        margin: 25px 0 0 0;
}
/*BTN*/
.dushbord__form_submit{
    width:170px;color:#fff;
    border:none;padding-left:15px;border-radius:5px;height:45px;
    background-color:var(--l-red);box-shadow:0 1px 0 0 #000;
    -webkit-animation:transform-pulse 1500ms linear 0ms infinite normal;
    -moz-animation:transform-pulse 1500ms linear 0ms infinite normal;
    -ms-animation:transform-pulse 1500ms linear 0ms infinite normal;
    animation:transform-pulse 1500ms linear 0ms infinite normal;
}



.dushbord__form_submit:hover{background-color:#c35027;box-shadow:none;}
@-webkit-keyframes transform-pulse{0%{-webkit-transform:rotate(0deg);}
50%{-webkit-transform:rotate(0deg) scale(1.1,1.1);}
100%{-webkit-transform:rotate(0deg);}
}
@-moz-keyframes transform-pulse{0%{-moz-transform:rotate(0deg);}
50%{-moz-transform:rotate(0deg) scale(1.1,1.1);}
100%{-moz-transform:rotate(0deg);}
}
@-o-keyframes transform-pulse{0%{-o-transform:rotate(0deg);}
50%{-o-transform:rotate(0deg) scale(1.1,1.1);}
100%{-o-transform:rotate(0deg);}
}
@-ms-keyframes transform-pulse{0%{-ms-transform:rotate(0deg);}
50%{-ms-transform:rotate(0deg) scale(1.1,1.1);}
100%{-ms-transform:rotate(0deg);}
}
@keyframes transform-pulse{0%{transform:rotate(0deg);}
50%{transform:rotate(0deg) scale(1.1,1.1);}
100%{transform:rotate(0deg);}
}
.dushbord__form_submit-cont{
    margin: 0 20%;
}
#calc_btn{
    width: 200px;
    height: 65px;
}
/*=================================ORDER-CALL=============================*/
#order_call{
    background: #2C97DF;
    margin-bottom: 0px;
}
.order_call-text p{
    color: #F7F6F6;
    text-align: center;
    font-size: 27pt;
    line-height: 48px;
    font-weight: 700;
}

input  .dushbord__form_input {font-style: 20px !important;}

.order_call-btn{
    color:#fff;
    border:none;
    padding-left:15px;
    border-radius:5px;
    height:45px;
    background-color:#d86b44;
    box-shadow:0 1px 0 0 #000;
    -webkit-animation:transform-pulse 1500ms linear 0ms infinite normal;
    -moz-animation:transform-pulse 1500ms linear 0ms infinite normal;
    -ms-animation:transform-pulse 1500ms linear 0ms infinite normal;
    animation:transform-pulse 1500ms linear 0ms infinite normal;
    min-height: 46px;
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
}
/*-------------MODAL---------*/
.modal{
    top: 50px;
}
.modal-dialog{
    width: 280px;
}
.modal-footer{
    text-align: center;
}
.modal-content{
    background: #1E2A41;
    color: #fff;
}
.modal-title{ color: #FFF;
    font-weight: bold;
}
.close{
    color: #fff;
    font-size: 35px;
}
#modal-inp{
    color: black;
    font-size: 20px;
}
#modal-btn{
    width: 150px;
    height: 35px;
    margin: 0 20%;
}

/*========================GBO-CAR=====================*/
    .container {
    /*margin-top: 15px;*/
}
.icon-help {
    font-size: 1.5em;
}
    .hided{
        display: none;
    }
    #gbo_map{background-color: var(--gray);}
    .gbo-car{
        width: 700px;
        height: 400px;
        margin: 0 auto;
        max-width: 900px;
        max-height: 500px;
        background: url(img/gbo-car.png) no-repeat;
        background-size: contain;
        position: relative;
    }
    #gbo-car-token-one{
    position: absolute;
    display: inline-block;
    width: 0px !important;
    left: 465px;
    top: 19px;
    }
        #gbo-car-token-two{
    position: absolute;
    display: inline-block;
    width: 0px !important;
    left: 650px;
    top: 97px;


    }
        #gbo-car-token-three{
    position: absolute;
    display: inline-block;
    width: 0px !important;
    left: 650px;
    top: 240px;
    }
        #gbo-car-token-four{
    position: absolute;
    display: inline-block;
    width: 0px !important;
    left: 445px;
    top: 330px;
    }
            #gbo-car-token-five{
    position: absolute;
    display: inline-block;
    width: 0px !important;
    left: 300px;
    top: 325px;
    }
            #gbo-car-token-six{
    position: absolute;
    display: inline-block;
    width: 0px !important;
    left: 130px;
    top: 320px;   
    }
            #gbo-car-token-seven{
    position: absolute;
    display: inline-block;
    width: 0px !important;
    left: 80px;
    top: 210px;
    }
    .qtoken{
    /*width:45px;*/
    /*height:45px;*/
/*    -webkit-background-size:contain;
    background-size:contain;float:left;*/
}
.fa_popover{
        font-size: xx-large;
}
.qtoken:before{
    font-family:FontAwesome;
    content:"\f059";
    font-size:30px;
}
.popover-title { 
    background: #1E2A41;
    color: #fff;
} 
.popover-content { 
    min-width: 250px;
    background: #1E2A41;
    color: #fff;
}
/*BALLON*/

        .ballon_container{
            max-width: 499px;
            height: 430px;
            background-color: var(--gray);
            position: relative;
        }
        .ballon{
            width: 150px;
            height: 350px;
            background: url(img/ballon.png) no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
            position: absolute;
             top: 40px;
             left: 70px;
        }
        .ballon_container-bottom{
            background-color: var(--red);
            height: 30px;
            width: 100%;
            display: inline-block;
/*            position: absolute;
            bottom: 0;
            left: 0px;*/
        }
        .ballon_container-btn{
            background-color: var(--blue);
            border: 1px solid var(--blue);
            color: #fbfbfb;
            height: 50px;
            width: 125px;
            border-radius: 100px;

        }
        .ballon_container-top{
            width: 500px;
            height: 70px;
            background-color: var(--red);
        }
        .ballon_container-top li{
            list-style-type: none;
            display: inline-block;
            margin: 10px 10px;
        }
        .ballon_container-top ul{
            padding: 0;
        }
        #if{

                position: absolute;
    display: inline-block;
    left: 16px;
    top: 0px;
    font-weight: bold;
    font-size: 20px;
        }
        .ballon_container-textcont{
            display: inline-block;
            width: 135px;
            height: 45px;
            background-color: var(--red);


        }

        #gas_percent{
        max-width: 135px;
        position: absolute;
        left: 270px;
        top: 30px;
        font-size: 15px;
        font-weight: bold;
        border: 2px solid black;
        background: #cc4141;
        animation: toggleOpacity 1s infinite alternate;
            }
         @keyframes toggleOpacity {
                    100% {
            background-position: 0 200px;
            background: #48A64C;
                        }    
        }
        #ballongasbot{
    display: inline-block;
    position: absolute;
    top: 70px;
    color: var(--red);
    font-weight: bold;
    font-size: 17px;
    left: 0px;
    width: 160px;
        }
        #ballongas{
            display: inline-block;
            position: absolute;
            top: 265px;
    color: var(--red);
    font-weight: bold;
    font-size: 17px;
    left: 218px;
        }
        #balloncond{
    display: inline-block;
    position: absolute;
    top: 360px;
    left: 218px;
    color: var(--red);
    font-weight: bold;
    font-size: 17px;
            }


        .line{
            border-top: 3px dashed red;
    height: 18px;
    max-width: 300px;
    min-width: 180px;
    display: inline-block;
    position: absolute;
    top: 162px;
    left: 187px;
        }
.ballon_container_bottom-text{
    margin-top: 4px;
    color: #fff;
    font-weight: bold;
}
#twoline{
    top: 290px;
    border-top: 3px dashed blue;
}
#threeline  {
    top: 350px;
    border-top: 3px dashed green;
}
.ballon_mother{
        display: inline-block;
    width: 480px;
}
        #minialert{
    position: absolute;
    left: 225px;
    top: 88px;
    font-size: 10px;
    width: 160px;   
        }
        #minialert-gorg{
    position: absolute;
    left: 233px;
    top: 88px;
    font-size: 10px;
    width: 95px;   
    background: #4da542; 
    border: 4px solid #9be192;    
        }
      #minialert-gorg:before {
    border-color: rgba(155, 225, 146,0);
    border-right-color: #a6ff9b;
    border-width: 36px;
    margin-top: -36px;
}
      #minialert-gorg:after {
    border-color: rgba(155, 225, 146,0);
    border-right-color: #4da542;
    border-width: 30px;
    margin-top: -30px;
}
.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #88b7d5;
    border-width: 30px;
    margin-top: -30px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

 .ballon_container-textcont-txt{
    /*margin-top: 2px;*/
    font-size: 15px;
    color: #fff;

 }
 #gas_percent{

    font-weight: bold;
        border: 2px solid black;
        background: #cc4141;
animation: toggleOpacity 1s infinite alternate;
 }
 @keyframes toggleOpacity {
  100% {
    background-position: 0 200px;
    background: #48A64C;
  }
}
.gaspercent-txt{font-size: 14px;font-weight: bold;color: #fff;margin-top: 10px;}
/*  @keyframes toggleOpacity {
  50% { opacity: 1; } 
  50.001% { opacity: 0.4; }

  52.999% { opacity: 0.4; } 
  53% { opacity: 1; }
}*/

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid var(--red);
    background-color: var(--red);
    max-width: 500px;
    padding: 10px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    /*float: left;*/
    border: none;
    outline: none;
    cursor: pointer;
    /*padding: 14px 16px;*/
    transition: 0.3s;

    background-color: var(--blue);
            border: 1px solid ;
            color: #fbfbfb;
            height: 50px;
            width: 125px;
            border-radius: 100px;
            font-weight: bold;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #f7ed7b;
    color: black;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-width: 500px;
}   
/*GBOPRICE*/
.wrapper-main{
      max-width: 980px;
    margin: auto;
        background: #24659D;
        border-radius:12px ;   
}
.wrapper-main p{
    font-weight: bold;
    color: var(--in-font);
}
.why_we_avg-title h2{
        color: var(--in-font);
}
.wrapper-main h3{
    color: var(--in-font);
}
#not_yet-sct{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #E31E25;
}
.not_yet{
    /*display: inline-block;*/
    max-width: 680px;
    min-width: 650px;
    max-height: 700px;
    min-height: 320px;
    margin: 0 auto 0;
    background-color: #FFFFFF;
    border: 5px outset var(--blue);
    border-radius: 145px;
}
#qny{
    margin: 14px 10% 0px;
}
#qvg{
        margin: 10px 10% 15px;
}
.not_yet-text{
    /*text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);*/
    font-size: 40px;
    font-weight: bold;
    margin: 0 25%;
    text-align: center;
}


.not_yet-text span{
    color: rgba(232, 0, 0, 0.86);
/*text-shadow: 2px 8px 6px rgba(0,0,0,0.2),*/
                 /*0px -5px 35px rgba(255,255,255,0.3);*/
}
.not_yet-btn{
        text-align: center;
}
.notyetbtn {
    padding-bottom: 51px;
    padding-top: 27px;
    font-size: 20px;
    font-weight: bold;
    padding-right: 173px;
    padding-left: 56px;
}
.not_yet-btn input.button4:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
.not_yet-btn input.button4:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
/*.not_yet-arrow{
    background: url(img/down.png) no-repeat;
    background-size: contain;
    display: inline-block;
    max-height: 100px;
    min-height: 190px;
     min-width: 100px; 
     max-width: 190px;
    margin: 0px 5%;
}
.not_yet-arrow-main{
        display: inline-block;

        margin: 0px 25%;
    max-width: 600px;
    min-width: 580px;
}*/
.page-header{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 50px;
    margin:0 0 0 0;
}
.auto-block-title{
    text-align: center;
}
#benzin-info-price{
    width: 80%;
    height: 40px;
    font-size: 36px;
}
.auto-radio_btn{
    width: 33px;
    height: 21px;
}
.title-cont{
    font-size: 20px;
}
.auto-block-title{
    color: #fff;
    font-weight: bold;
    font-size: 23px;
}
.inp_txt{
    font-size:  20px;
    color: #fff;
}
.benzin-info-title_top{
    color: #fff;
}
.result-main-title{
    color: #fff;
    background: #d86b44;
    border-radius: 106px;
    width: 325px;
    margin: 10px auto 0;
    height: 55px;
}
.result_txt{
    color: #fff;
    display: inline-block;
}
.rform{
    max-width: 560px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    padding: 0 25px 0 25px;
    background: #5cb85c;
    border-radius: 106px;
}
    .result-main-title-txt{
        padding: 8px 0 0 0;
        }
    .oborudovanie-brand{
    width: 250px;
    height: 44px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    text-align: center;
    font-size: 23px; 
    }
    .gaz-name{
           width: 250px;
    height: 44px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    text-align: center;
    font-size: 23px;  
    }
#gassel{
    padding: 0 0 0 80px;
}
.cor{
    /*height: 70px;*/
}
/*RASSR*/
    #rassr {background-color: var(--red);}
  .percent-img{
    background: url(img/0.png) no-repeat;
    background-size: contain;
    max-width: 350px;
    max-height: 337px;
    min-height: 337px;
    /*min-width: 100px;*/
    margin: 20px auto 0;
    

  }
    #rassr h2 {font-size: 45px}
  .rassr-inf{
        margin: 16% 0 0 16%;
  }
.jumbotron {position:relative;padding:50px; background-color: var(--red); margin-bottom: 0px;}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}

/*==============calc-gazgolder================*/
#calc-gazgolder {background: url(img/bg.jpg);
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.27);
    background-attachment: fixed;
    padding: 30px 0px;}


/*==============calc-gazgolder================*/

/*===============================MEDIA===========================================*/
/*---------------max-width:425px-----------------*/
@media screen and (max-width:425px){
    #cbg h3{
        font-size: 16px;
    }
        section{
    padding: 20px 0 !important;
        }
        
        .container {padding: 5px 0px;}
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
        {padding-right: 5px;
    padding-left: 5px;}
        .tv_container {
            max-height: 220px !important;
            max-width: 295px !important;
        }
        .videof {
            top: 12px !important;
            width: 90% !important;
            height: 68% !important;
            left: 12px !important;
        }

        .ec{
    word-wrap: break-word;
    border-radius: 100px;
    background: var(--blue);
    margin: 0px 0px;
    height: 45px;
    padding: 14px 0;

        }
        .ec h3{
            font-size: 16px !important;
            color: #fbfbfb;
            margin: 0;
        }
        .versus_table{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
        .versus_square h3{
            font-size: 16px !important;
            color: #fbfbfb;
            margin: 0;
        }
        .versus_square{
/*            color: #fbfbfb;
            word-wrap: break-word;
            margin: 7px 0;
            background: var(--red);
            padding: 20px 0;*/
                height: 205px;
            }
        .vs-small{
            height: 100px;
        }
                .vs-medium{
            height: 130px;
        }
        .vs-medium2 {
            height: 150px;
        }
        .gbo_car-img{
            width: 100%;
            max-height: 300px;
            /*padding: 10px;*/
        }
        .modal-dialog{
    width: 280px !important;
}
#order_call{
    margin-bottom: 0 !important;
}
.dushbord__form_submit-cont{
    margin: 0 7% !important;
}
/*#calc_form{
    margin-right: 18px !important;
}*/
.page-header{

    /*margin-right: 18px !important;*/
    font-size: 30px !important;

    margin-right: 0px !important;

}
.result-main-title{
   margin: 3px auto 0 !important;
    max-width: 178px !important;
    max-height: 25px !important;
}
.result-main-title-txt{
   padding: 0 0 0 0 !important;
}
.rform{
    font-size: 14px !important    ;
}

  .rassr-inf{
        margin: 14% 0 0 3% !important;
  }
  /*ballon*/

.ballon_mother{
        /*display: inline-block;*/
    width: 295px !important;
    margin: 0 !important;}

  .ballon_container {

}
.ballon {
/*    width: 130px !important  ;
    height: 250px !important;*/
    top: 40px !important;
    left: 12px !important;}

    #gas_percent {
        width: 90px;
    /*position: absolute;*/
    left: 190px !important;
    top: 40px !important;
    /*font-size: 10px;*/
}
#minialert {
    /*position: absolute;*/
    left: 166px !important;
    top: 100px !important;
    /*font-size: 10px;*/
    width: 115px !important;
}
.line {
    /*top: 260px !important;*/
        max-width: 147px !important;
        min-width: 147px !important;

        width: 147px !important;

    left: 130px !important;
}
#ballongas {
    left: 130px !important;
}
#minialert-gorg {
    /*position: absolute;*/
    left: 159px !important;
    top: 101px !important;
    /*font-size: 10px;*/
    /*width: 95px;*/
    /*background: #4da542;*/
    /*border: 4px solid #9be192;*/
}
#ballongasbot {
/*    display: inline-block;
    position: absolute;*/
    top: 70px !important;
/*    color: var(--red);
    font-weight: bold;
    font-size: 17px;*/
    left: -40px !important;
    /*width: 160px;*/
}
#balloncond {
/*    display: inline-block;
    position: absolute;*/
    top: 360px !important;
    left: 130px !important;}
    #if {
/*    position: absolute;
    display: inline-block;*/
    left: 35px !important;
/*    top: 14px;
    font-weight: bold;*/
    font-size: 16px !important;
}
.gaspercent-txt{
    margin-top: 0px !important;
}
.dushbord__form_input {
    font-size: 20px !important ;
}
.rform {
    /*max-width: 560px;*/
/*    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    padding: 0 25px 30px 25px;
    background: #5cb85c;*/
    border-radius: 50px !important;
}
.card-faq{
min-width: 270px !important;
max-width: 350px !important;
display: block !important;
margin: auto !important;
}


.not_yet {
    max-height: 700px !important;
    min-height: 340px !important;
    min-width: 300px;
    margin: 0px 0% 0 !important;
    border-radius: 95px !important;
}

.not_yet-btn input.dushbord__form_submit{
    padding-bottom: 21px !important;
    padding-top: 12px !important;
    font-size: 20px !important;
    font-weight: bold !important;
    padding-right: 146px !important;
    padding-left: 25px !important;
}

.not_yet-btn {
    margin: 0px 0% 15px !important;
}
#qsp{
    font-size: 36px !important;
    margin: 0;
}
.card_inde_cont{
        display: inline-block;
    /* height: 400px; */
    max-height: 400px !important;
    min-height: 338px !important;
}
.card-1{
    max-height: 425px !important;
}
.card-pr{
     max-height: 440px !important;

}
   #cbg1{
        margin-top: 0px;}


#cbg{
    min-height: 175px;
    max-height: 180px;
    min-width: 98%;
    max-width: 100%;  
}
    }

/*------------------max-width:767px-----------------*/
@media screen and (max-width:767px){
      .chevron{padding: 0px !important;    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);}
    .card-faq{
       min-width: 400px;
    width: 98% !important;
    max-width: 655px;
/*display: block !important;
margin: auto !important;*/
}



.dushbord__form_header{font-size:22px;}
.dushbord__form{height:430px;}
.tv_container {max-height: 295px;max-width: 380px;}
.videof {
    top: 16px ;
    width: 91% !important;
    height: 67% !important;
    left: 18px ;
}
.ec h3{
    font-size: 20px ;
    color: #fbfbfb;
    margin: 0;
}
.versus_square h3{
    font-size: 20px ;
    color: #fbfbfb;
    margin: 0;
}
  .rassr-inf{margin: 26px auto !important;}
  .percent-img{margin: 14px auto 0 !important;}
  .ballon_mother{margin: 0px 15%;}
/*.card_faq-link {
    margin: 18px 0 0 0;
    max-width: 331px !important;
    min-width: 130px;
}*/
}